package {{.FeatureName}}

import (
	"github.com/gin-gonic/gin"
)

func RegisterRoutes(router *gin.RouterGroup, ctrl *Controller) {
	routes := router.Group("/{{.Package}}")
	{
		routes.GET("/", ctrl.GetAll)
		routes.POST("/", ctrl.Create)
		routes.GET("/:id", ctrl.GetByID)
		routes.Delete("/:id", ctrl.Delete)
		routes.Put("/:id", ctrl.GetUpdate)
	}
}