package main

import (
	"{{.AppName}}/api/account"
	"{{.AppName}}/config"
	"github.com/gin-gonic/gin"
)

func main() {
	router := gin.Default()

	// Initialize the database and collections
	cfg := config.NewAppConfig()
	db := config.InitializeDatabase()

	// accountCollection := db.Collection("accounts")

	// // Dependency injection for the account feature
	// accountRepo := account.NewAccountRepository(accountCollection)
	// accountService := account.NewAccountService(accountRepo)
	// accountController := account.NewAccountController(accountService)

	// // Register routes
	// apiGroup := router.Group("/api/v1")
	// account.RegisterAccountRoutes(apiGroup, accountController)

	// Start the server
	router.Run(cfg.Addr)
}